html,
div,
header,
h1,
{
	margin: 0;
	padding: 0;
}
body{
	margin: 0;
}

html{
	box-sizing: border-box;
}

*, *:before, *:after{
	box-sizing: inherit;
}

.header{
	position: fixed;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: #5898e8;
	color: #fff;
	font-family: 'Lobster', cursive;
	font-weight: 300;
	height: 56px;
	width: 100%;
}
.header i{
	vertical-align: middle;
}

.header .main-title{
	flex: 1 1 20%;
	padding: 10px 18px;
	letter-spacing: 1.5px;
	font-size: 15px;
	line-height: 22px;
	font-weight: 900;
}
.header .back-button{
	font-size: 25px;
	padding: 0 10px;
	cursor: pointer;
	display: none;
}

.header .search-form-container{
	flex: 2 1 50%;
}
.search-form-container input{
	width: 100%;
	outline: 0 none;
	border: 0 none;
	height: 36px;
	border-radius: 2px;
	font-size: 14px;
	padding: 0 16px;
}
.header .mobile-search{
	display: none;
	text-align: center;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: .1px;
	flex: 1 1 10%;
}
.header .search-icon{
	padding: 10px;
	font-size: 25px;
	cursor: pointer;
}
.header .cart{
	flex: 1  1 30%;
	text-align: center;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: .1px;
}
.cart .cart-icon{
	position: relative;
	padding: 10px;
	font-size: 25px;
	cursor: pointer;
}
.cart .cart-icon .cart-count{
	position: absolute;
	right: 2px;
	top: 3px;
	width: 18px;
	height: 18px;
	background-color: #ff6161;
	border-radius: 50%;
	padding: 1px;
	font-size: 15px;
	text-align: center;

}


.container{
	width: 100%;
	padding-top: 66px;
	font-family: 'Roboto', sans-serif ;
	color: #333;
}

.book-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0 7rem;
}

.book-list-item{
	width: 210px;
	height: 420px;
	padding: 5px;
	margin: 16px;
	background-color: #fff;
	text-align: center;
	box-shadow: 0px 1px 2px 1px #e1e1e1;
	color: #333;
	font-size: 16px;
	font-weight: 600px;

}

.book-list-item img{
	width: 200px;
	height: 280px;
}
.book-list-item .book-price{
	font-size: 16px;
    font-weight: 500;
    color: #666;
}
.book-list-item .book-price i{
	font-size: 14px;
}

.book-list-item .cart-button{
	padding: 0.5rem;
	width: 100%;
	height: 36px;
	background-color: #5898e8;
	color: #fff;
	outline: none;
	border: none;
	cursor: pointer;
	text-align: center;
	font-size: inherit;
	font-weight: 400;
	text-transform: uppercase;

}
.in-cart{
	background-color: #ff6161 !important;
	cursor: not-allowed !important;
}

.cart-container{
	position: fixed;
	right: -200%;
	top: 56px;
	height: 100vh;
	z-index: 9999;
	width: 380px;
	border-left: 0.5px solid gray;
	background-color: #fff;
	transition: all .35s ease-in-out;
	box-shadow: 0px 1px 2px 1px #e1e1e1;
	overflow-y: scroll;
	padding-bottom: 5rem;

}

.cart-open{
	right: 0;
}

.cart-list{
	display: flex;
	flex-direction: column;
	padding: 5px;
}
.cart-list .cart-details{
	max-height: 30px;
	font-size: 16px;
    font-weight: 500;
    color: #212121;
	display: flex;
	justify-content: space-between;
}
.cart-list .cart-details .cart-total i{
	font-size: 14px;
}
.cart-list hr{
	width: 100%;
	background-color: gray;
}
.cart-list .cart-list-item{
	position: relative;
	display: flex;
	background-color: #fff;
	padding: 10px;
	margin: 2.5px 0px;
	box-shadow: 0px 1px 2px 1px #e1e1e1;
	max-height: 100px;
}

.cart-list .cart-list-item img{
	height: 70px;
	width: 70px;
}

.cart-list .cart-list-item .cart-item-content{
	padding: 0 0 0 10px;
}
.cart-list .cart-list-item .cart-item-content .cart-item-price{
	font-size: 16px;
    font-weight: 500;
    color: #212121;
}
.cart-list .cart-list-item .cart-item-content .cart-item-price i{
	font-size: 14px;

}

.cart-list .cart-list-item .cart-item-content p{
	margin: 0;
	margin-bottom: 5px;
}
.cart-list .cart-list-item .cart-remove-btn{
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	height: 28px;
	width: 28px;
	font-size: 25px;
	padding-top: 3px;
	text-align: center;
	border-radius: 50%;
	color: #ff6161;
}
.cart-list .cart-list-item .cart-quantity{
	display: flex;
}
.cart-list .cart-list-item .cart-quantity button{
	outline: 0 none;
	border: 0 none;
	cursor: pointer;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 1px solid #c2c2c2;
	background: linear-gradient(#fff,#f9f9f9);
	font-size: 16px;
	line-height: 1;
}
.cart-list .cart-list-item .cart-quantity div{
	width: 46px;
    height: 28px;
    text-align: center;
    padding: 3px 6px;
    border-radius: 2px;
    background-color: #fff;
    border: 1px solid #c2c2c2;
    margin: 0 9px;
}


@media all and (max-width: 1200px){
	.header .main-title{
		flex: 1 1 35%;
	}

	.header .cart{
		flex: 1 1 10%;
	}
}

@media all and (max-width: 700px){
	.book-list{
		padding: 0;
	}
}


@media all and (max-width: 480px){
	/*.header{
		flex-direction: column;
		height: 180px;
	}*/

	.header .main-title{
		flex: 1 1 60%;
	}
	.header .back-button-active{
		display: block;
	}
	.header .back-button i{
		padding: 5px;
		vertical-align: middle;
	}
	.header .search-form-container{
		display: none;
	}
	.header .search-form-active{
		display: flex;
		position: absolute;
		padding: 10px;
		width: 100%;
		background-color: #5898e8;
		z-index: 9999;
	}
	.search-form-container .search-form{
		width: 80%;
	}
	.header .mobile-search{
		display: block;
	}
	.header .cart{
		flex: 1 1 10%;
	}
	.cart-container{
		width: 100%;

	}
}