html,
body,{
	margin:0;
	padding: 0;
}

html{
	box-sizing: border-box;
}

*, *:before, *:after{
	box-sizing: inherit;
}

.container{
	width: 100%;
}

.book-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.book-list-item{
	width: 20%;
	padding: 10px;
	margin: 0.5rem;
	background-color: #fff;
	text-align: center;
	box-shadow: 0px 1px 2px 1px #e1e1e1;

}

.book-list-item img{
	width: 60%;
}