html,
div,
header,
h1
{
	margin: 0;
	padding: 0;
}
body{
	margin: 0;
}

html{
	box-sizing: border-box;
}

*, *:before, *:after{
	box-sizing: inherit;
}

.header{
	position: fixed;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: #5898e8;
	color: #fff;
	height: 56px;
	width: 100%;
}
.header i{
	vertical-align: middle;
}

.header .main-title{
	flex: 1 1 20%;
	padding: 10px 18px;
	letter-spacing: 0.5px;
	font-size: 15px;
	line-height: 22px;
	font-weight: 900;
}

.header .search-form-container{
	flex: 2 1 50%;
}
.search-form-container input{
	width: 100%;
	outline: 0 none;
	border: 0 none;
	height: 36px;
	border-radius: 2px;
	font-size: 14px;
	padding: 0 16px;
}
.header .cart{
	flex: 1  1 30%;
	text-align: center;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: .1px;
}
.cart .cart-icon{
	padding: 10px;
	font-size: 25px;
}

.container{
	width: 100%;
	padding-top: 66px;
}

.book-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.book-list-item{
	width: 20%;
	padding: 10px;
	margin: 0.5rem;
	background-color: #fff;
	text-align: center;
	box-shadow: 0px 1px 2px 1px #e1e1e1;

}

.book-list-item img{
	width: 60%;
	height: 60%;
}

.book-list-item button{
	padding: 0.5rem;
	width: 80%;
	background-color: #5898e8;
	color: #fff;
	outline: none;
	border: none;
	cursor: pointer;
}